/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	
}

.wrapper {
	background-color: #FEFEFE;
	color: #222222;
/*	max-width: 978px;
*/	margin: 0 auto;
}

#projectName {
	color: black;
	font-size: 2.3em;
	font-weight: 600;
}

.home__wrapper a {
	color: #222222;
}

.home__wrapper h1,
.home__wrapper h2 {
	text-align: center;
}

.right {
	margin-left: auto;
}

.btn {
	display: inline-block;
	background-color: skyblue;
	padding: 0.5em;
	color: #FEFEFE;
	border-radius: 3px;
	text-decoration: none;
}

.vertical-align {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 4px;
	margin-bottom: 7px;
}

.logo {
	max-height: 5em;
	margin: 0 auto;
	display: block;
}

.home__label {
	display: block;
	width: 100%;
	margin: 1em 0;
}

.home__input {
	margin-left: 0.5em;
	border-radius: 2px;
	border-width: 1px;
	border-color: grey;
	padding: 0.3em;
}

.invalid-cell {
	color: orange;
}


.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
